@import "~bulma/bulma.sass";


//18bc9c  191919 f30154
body{
  height: auto;
  min-height: 100vh;
  background-color: #233140;
}

.game-board{
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.game-row :hover{
  background-color: #a1aab3;
  z-index: -1;


}