@import "~bulma/bulma.sass";

body {
  height: auto;
  min-height: 100vh;
  background-color: #233140;
}

.game-board {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.node-board {
  border-radius: 5px;
  background-color: #fff;
  width: 200px;
  text-align: center;
  .column {
    padding: 0;
  }

}


.game-row :hover{
  background-color: rgba(161, 170, 179, 0.31);
  z-index: 100;
}


.blank{
  color: #233140;
}

.red{
  color: #f30154;
}

.green{
  color: #18bc9c;

}